body {
    background-color: rgb(4, 180, 134);
    color: rgb(234, 246, 222);
    margin-left: 20px;
}

h1 {
    border-bottom: 2px solid rgba(255, 0, 0, 0.25);
    color: rgb(190, 0, 0);
    font-size: 16px;
    font-family: 'Kufam';
}

article {
    width: 600px;
}

article > p > img {
    float: right;
}

a {
    color:rgb(28,111,186);
    
}

a:visited {
    color:rgb(38,74,135);
    
}

a:hover {
    color:rgb(56,138,229);
}

.image_with_caption {
    width: 200px;
}

.image_with_caption > img {
    height: 200px;
}

.caption {
    text-align: center;
    font-size: 13px;
}